*.log
*.pot
*.pyc
*.mor
*.ftp
*.vscode
static/fncsxls/*.xls
__pycache__/
local_settings.py
db.sqlite3
media
log/*
**/migrations/**
**/tmp/**
settings.json
misc.xml
modules.xml
udemi.iml
vsc.xml
profile_settings.xml